---
import BaseLayout from '@/layouts/BaseLayout.astro';

const identity = {
  firstName: 'Aleksey',
  country: 'Russia',
  occupation: 'Photographer / WebDev',
  hobbies: ['photography', 'black coffee', 'coding'],
};

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'Astro',
  'Coffee brewing',
  'Photo shooting',
  'Photo editing',
];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle="About">
  <section
    transition:animate="slide"
    class="container grid grid-cols-2 gap-16">
    <div class="w-full">
      <img
        class="w-full rounded-xs"
        src="/assets/img/avatar.jpg"
        title="Aleksey Kerkin"
        alt="Aleksey Kerkin"
      />
    </div>
    <div>
      <h1 class="text-left">hello there</h1>
      <p>Something about me:</p>
    </div>
  </section>
</BaseLayout>
