---
import BaseLayout from '@/layouts/BaseLayout.astro';

const allPosts = Object.values(
  import.meta.glob('./chronicles/*.md', { eager: true })
);
---

<BaseLayout pageTitle="Chronicles">
  <section transition:animate="slide" class="container">
    <div class="columns-1 gap-4 space-y-4 md:columns-2 lg:columns-3">
      {
        allPosts.map((post: any) => (
          <a href={post.url} class="block overflow-hidden">
            <img
              class="max-w-full cursor-pointer duration-200 hover:scale-105 rounded-xs"
              src={post.frontmatter.image.url}
              alt={post.frontmatter.image.alt}
              title={post.frontmatter.image.alt.toLowerCase()}
            />
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
