---
import BaseLayout from '@/layouts/BaseLayout.astro';

const allPosts = Object.values(
  import.meta.glob('./chronicles/*.md', { eager: true })
);
---

<BaseLayout title="Chronicles">
  <section class="container">
    <h1>Chronicles</h1>
    <div class="columns-1 gap-4 space-y-4 lg:columns-2 xl:columns-3">
      {
        allPosts.map((post: any) => (
          <a
            href={post.url}
            class="block rounded-sm overflow-hidden">
            <img
              class="max-w-full cursor-pointer duration-200 hover:scale-105"
              src={post.frontmatter.image.url}
              alt={post.frontmatter.image.alt}
              title={post.frontmatter.image.alt}
            />
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
