---
import Social from './Social.astro';
import LogoGH from '@/assets/icons/github.svg';
import LogoTG from '@/assets/icons/telegram.svg';
---

<footer class="mt-8 mb-8 pt-8">
  <nav class="flex place-content-center gap-4">
    <Social
      platform="github"
      tld="com"
      username="aleksey-kerkin"
      ><LogoGH class:list={'inline-block'} /></Social
    >
    <Social
      platform="telegram"
      tld="me"
      username="the_luminal_atlas"
      ><LogoTG class:list={'inline-block'} /></Social
    >
  </nav>
</footer>
