---
import Link from './Link.astro';
---

<header class="mt-8 mb-8 pb-8">
  <nav class="flex place-content-center gap-4 text-xl">
    <Link
      class="link group"
      href="/"
      linkText="chronicles"
    />
    <Link
      class="link group"
      href="/about/"
      linkText="about"
    />
  </nav>
</header>
