---
const { href, linkText } = Astro.props;
---

<a
  class="link group max-w-fit"
  href={href}
  >{linkText}
  <div
    class="h-0.5 w-0 bg-pink-700 transition-[width] duration-200 group-hover:w-full">
  </div>
</a>
